@import '@/styles/reset.css';
@import '@/styles/colors.css';
@import '@/styles/base.css';
@import '@/styles/globals.module.css';

.app {
  background-color: var(--color-app-bg);
  color: var(--color-text);
  min-height: 100vh;
  padding: 1rem 2rem;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.siteTitle {
  font-weight: bold;
}
