.commentList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.commentList > * {
  border-top: 1px solid var(--color-divider);
}

.commentList > :last-child {
  border-bottom: 1px solid var(--color-divider);
}
