.editorWrapper {
  margin-block: 1rem;
}

.editorWrapper ol {
  list-style: inside decimal;
  margin-block: 0.375rem;
  padding-inline-start: 0.375rem;
}

.editorWrapper ul {
  list-style: inside disc;
  margin-block: 0.375rem;
  padding-inline-start: 0.375rem;
}

.checkbox {
  cursor: pointer;
  font:
    1em system-ui,
    sans-serif;

  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
}

.checkbox input {
  appearance: none;
  background-color: var(--color-input-bg);
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  padding: 0;

  position: relative;
}

.checkbox input:checked {
  background-color: var(--color-input-checked-bg);
}

.checkbox input:checked::after {
  content: '';
  position: absolute;
  top: 0.0625rem;
  left: 0.28125rem;
  width: 0.3125rem;
  height: 0.625rem;
  border: solid var(--color-input-checked-fg);
  border-width: 0 0.125rem 0.125rem 0;
  transform: rotate(45deg);
}

.submitButton {
  display: block;
  margin-block: 0.75rem;
}
