# App
PORT=3000
ADMIN_ORIGIN=http://localhost:5173
BLOG_ORIGIN=http://localhost:5174

# Auth
ADMIN_SECRET=your-secret-here
JWT_SECRET=your-secret-here

# Database
DATABASE_URL=postgresql://username:password@host:5432/database_name?schema=public
